# Data Science Tools And Ecosystem

In This Notebook,
Data Science Ecosystem are summarized.

Some of the popular languages That Data Scientists use are :
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. Javascript

Some of the most commonly used labraries used by Data Scientists incude :
1. Scikit-learn
2. TensorFlow
3. Apache Spark 
4. Pandas
5. Numpy
6. Matplotlib
7. Seaborn
8. Keras
9. PyTorch
10. ggplot2
11. dplyr
12. Caret

Table Of Data Science Tools
|Data Science Tools|
| ________________ |
|RStudio|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|
|RapidMiner|

### Below are a few example of evaluating arithmetic expression In Python

In [5]:
(3*4)+5
# This is a simple artimetic expression to multiply then add integers

17

In [6]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objective**

- Some Of Popular Languages For Data Science
- Some Of Most Commonly Libraries Used By Data Scientists
- Table Of Data Science Tools 
- Simple Arithmetic Expression 
- Coverting Minutes To Hours

## Author
Rahul Saroj